*
!requirements.txt
!requirements.lock
!main.py
!config/
!config/*.py
!crud/
!crud/*.py
!models/
!models/*.py
!routers/
!routers/*.py
!schemas/
!schemas/*.py
!utils/
!utils/*.py
!cache/
!cache/*.py
!scripts/
!scripts/repair_encoding.py
**/__pycache__
